@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekan-SemiBold;
  src: url(/fonts/yekan-bakh/YekanBakhFaNum-SemiBold.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: yekan-Regular;
  src: url(/fonts/yekan-bakh/YekanBakhFaNum-Regular.woff2) format(woff2);
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: yekan-SemiBold, Helvetica, sans-serif;
}
